{% extends "frontend/shared/home.html" %}
{% block title %}ثبت نام{% endblock %}

{% block body %}
{% include 'frontend/partials/_head.html' %}
<section class="user-area-all-style log-in-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form-title">وارد حساب کاربری شوید!</h3>
                        <p class="form-desc">یا با شبکه اجتماعی وارد شوید.</p>
                    </div>
                    <form method="post">
                        <div class="row">

                            <div class="col-12">
                                <form method="post" action="" class="mt-4" novalidate>
                                    {% csrf_token %}
                                    {% include 'dashboard/includes/form.html' %}
                            </div>

                            <div class="col-lg-6 col-sm-6 form-condition">
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">
                                        مرا بخاطر بسپار
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <a class="forget" href="{% url 'password_reset' %}">فراموشی گذرواژه؟</a>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <button class="default-btn btn-block" type="submit">
                                    وارد شوید
                                </button>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-block">
                                    گوگل + </a>
                            </div>
                    </form>
                    <div class="col-12">
                        <p class="account-desc">
                            عضو نیستی؟
                            <a href="{% url 'accounts:signup' %}">عضویت</a>
                        </p>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}