<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div>
        Hi there,

        شخصی برای آدرس ایمیل {{ email }} درخواست بازنشانی رمز عبور کرد.
        لینک زیر را دنبال کنید:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        در صورتی که نام کاربری خود را فراموش کرده اید نام کاربری شما: {{ user.username }}


        اگر روی پیوند بالا کلیک نکردید، لطفاً URL را کپی و جایگذاری کنید
        در عوض در یک پنجره مرورگر جدید

        اگر این ایمیل را به اشتباه دریافت کرده اید، احتمالاً کاربر دیگری وارد شده است
        آدرس ایمیل شما به اشتباه هنگام تلاش برای بازنشانی رمز عبور. اگر این کار را نکردید
        درخواست را آغاز کنید، نیازی به انجام هیچ اقدام دیگری ندارید و می توانید با خیال راحت
        این ایمیل را نادیده بگیرید

        با تشکر،
    </div>
</body>

</html>