{% extends "frontend/shared/home.html" %}

{% block title %}ریست کردن پسوردتان{% endblock %}

{% block body %}
{% include 'frontend/partials/_head.html' %}
<section class="user-area-all-style recover-password-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-form-action">
          <div class="form-heading text-center">
            <div class="alert alert-success" role="alert">
              چک کنید ایمیلتان را برای ریست کردن پسوردتان.اگر آنرا دریافت نکردید در ۱ دقیقه لطفا فولدر اسپمتان را چک
              کنید !
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="now-log-in font-q" href="{% url 'login' %}">وارد شوید</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}