{% extends "frontend/shared/home.html" %}
{% load static %}
{% load ratings %}
{% block styles %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<style>
    .paginate-blog {
        text-align: center;
        font-size: large;

    }

    .star-ratings-rating-count {
        display: none
    }

    .star-ratings-rating-average {
        display: none
    }

    .star-ratings-rating-user {
        display: none;
    }
</style>
{% endblock %}
{% block body %}
{% include 'frontend/partials/_head.html' %}
<section class="client-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>آنچه مشتریان ما می گویند</h2>

        </div>
        <div class="row">
            {% for feedback in page_obj %}
            <div class="col-lg-4 col-sm-6">
                <div class="single-client">
                    {% if feedback.banner %} <img src="..{{ feedback.banner.url }}"
                        class="user-avatar rounded-circle me-3" style="width:70px;" alt="Avatar">{% else %}<img
                        src="../../static/assets/backend/img/team/profile-picture-1.jpg" />{% endif %}
                    <h3>{{ feedback.first_name}}-{{ feedback.last_name }}</h3>
                    <span>{{ feedback.role }}</span>
                    <p>{{ feedback.content |safe| truncatewords:20 }}</p>
                    <small>
                        {% ratings feedback %}
                    </small>

                </div>
            </div>
            {% endfor %}
            {% include 'frontend/includes/_pagination.html' %}

        </div>
    </div>
</section>
{% endblock %}