{% load static %}

<footer class="footer-top-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-widget">
          <a href="index.html">
            <img src="{% static 'assets/frontend/img/footer-logo.png' %}" alt="Image" width="150">
          </a>
          <p>{{ setting.content | striptags |safe| truncatewords:40 }}</p>
          <div class="social-area">
            <ul>
              <li>
                <a href="{{ user.profile.linkedin }}">
                  <i class='bx bxl-twitter'></i>
                </a>
              </li>
              <li>
                <a href="{{ user.profile.facebook }}">
                  <i class='bx bxl-facebook'></i>
                </a>
              </li>
              <li>
                <a href="{{ user.profile.instagram }}">
                  <i class='bx bxl-instagram'></i>
                </a>
              </li>
              <li>
                <a href="{{ user.profile.linkedin }}">
                  <i class='bx bxl-linkedin'></i>
                </a>
              </li>
              <li>
                <a href="{{ user.profile.youtube }}">
                  <i class='bx bxl-youtube'></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-widget contact">
          <h3>تماس با ما</h3>
          <ul>
            {% for user in users %}
            <li class="pl-0">
              <a href="tel:Phone:+822456974">
                <i class="flaticon-call"></i>
                <span>خط ویژه:</span>
                تلفن: {{ user.profile.phone }}
              </a>
            </li>
            <li class="pl-0">
              <a href="mailto:hello@surety.com">
                <i class="flaticon-email"></i>
                <span>ایمیل:</span>
                {{ user.email }}
              </a>
            </li>
            <li>
              <i class="flaticon-maps-and-flags"></i>
              <span>آدرس:</span>
              {{ user.profile.address}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-widget">
          <h3>پیوندهای خدمات</h3>
          <ul>
            <li>
              <a href="#">
                بیمه
              </a>
            </li>
            <li>
              <a href="#">
                بیمه ماشین
              </a>
            </li>
            <li>
              <a href="#">
                بیمه خانه
              </a>
            </li>
            <li>
              <a href="#">
                سرمایه گذاری
              </a>
            </li>
            <li>
              <a href="#">
                بیمه سلامت
              </a>
            </li>
            <li>
              <a href="#">
                کسب و کار
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-widget">
          <h3>خبرنامه</h3>
          <p class="newsletter-p">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
          <div class="subscribe-wrap">
           {% include 'frontend/partials/_subscribe.html' %}
          
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer-bottom-area footer-bottom-area-five">
  <div class="container">
    <div class="copy-right">
      <p>
        کپی رایت © 2022. طراحی و توسعه توسط <a
          href="#" target="_blank" rel="nofollow">سیامک عباس نژاد</a></p>
    </div>
  </div>
</footer>


<div class="go-top go-top-five">
  <i class='bx bx-chevrons-up'></i>
  <i class='bx bx-chevrons-up'></i>
</div>