<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
         دوست عزیز
         <br>
         {{ email }}
         <br>
        اگر می‌خواهید لغو اشتراک خود را تأیید کنید، لطفاً این پیوند فعال‌سازی را دنبال کنید:
        <br>
        {{ unsubscrib_url }}
        <br>
        با احترام
        <br>
        <a href="{{ unsubscrib_url }}" style ="color:red">Unsubscribe</a>
    </div>
  </div>
</body>
</html>