{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:" fa-ir" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet" />
  <title>{% block title %}{{ title }}{% endblock title %}</title>

  {% include 'frontend/partials/_style.html' %}
  {% include "frontend/partials/_header.html" %}
  {% block styles %}
  {% endblock %}


</head>

<body>
  
  {% block body %}
  <a id="backtotop" class="fa fa-angle-up circle" href="javascript:void(0)"></a>


  {% endblock %}
  {% include 'frontend/partials/_footer.html' %}
  {% include 'frontend/partials/_script.html' %}
  {% include 'frontend/partials/_messages.html' %}
  {% block scripts %}
  <!---start GOFTINO code--->
 <!---start GOFTINO code--->
<script type="text/javascript">
  !function(){var i="uB2zs9",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
</script>
<!---end GOFTINO code--->

  {% endblock %}
</body>

</html>