{% extends "dashboard/layouts/base.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
  <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% include "dashboard/includes/_headnav.html" %}


<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-centered table-nowrap mb-0 rounded">
        <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start">#</th>
            <th class="border-0">موضوع</th>
            <th class="border-0">ایمیل</th>
            <th class="border-0">پیام</th>
            <th class="border-0">تاریخ ایجاد</th>
            <th class="border-0">تاریخ اپدیت</th>
            <th class="border-0">حذف / اپدیت</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
          {% if user.is_superuser %}
          <tr>
            <td><a href="#" class="text-primary fw-bold">{{ forloop.counter }}</a></td>

            <td>{{ contact.subject}}</td>
            <td>{{ contact.email}}</td>
            <td>{{ contact.content|truncatechars:10 }}</td>
            <td>{{ contact.created }}</td>
            <td class="text-success">
              <div class="d-flex align-items-center">
                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="fw-bold">{{contact.created}}</span>
              </div>
            </td>
            {% if request.user.is_authenticated %}
            <td>
              <a href="{% url " contact:show" contact.pk %}"><img
                  src="https://img.icons8.com/bubbles/30/000000/edit.png" /></a>
              <form method="POST" action="{% url " contact:list" %}">
                {% csrf_token %}
                <a href="{% url " contact:delete" contact.pk %}"><img
                    src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/F25081/external-trash-office-flatart-icons-solid-flatarticons.png" /></a>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link"
              href="{% url 'contact:contact-list' %}' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
          {% endif %}
          {% for i in paginator.page_range %}
          <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link"
              href="{% url 'contact:contact-list' %}' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a>
          </li>
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% url 'contact:contact-list' %}' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock content %}