{% extends "dashboard/layouts/base.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
  <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% include "dashboard/includes/_headnav.html" %}


<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" action="" class="mt-4" novalidate>
                {% csrf_token %}
                {% include 'dashboard/includes/form.html' %}

                <div class="d-grid mt-4">
                    <button type="submit" name="login" class="btn btn-gray-800">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %} {% block javascripts %}{% endblock javascripts %}